@model IEnumerable<TrashCollection.Models.Customer>

@{
    ViewData["Title"] = "AllCustomers";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<h1>All Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PendingOneTimePickup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthBalance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PendingOneTimePickup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthBalance)
            </td>
        </tr>
}
    </tbody>
</table>
