@using TrashCollection
@model dynamic

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<script>
function initMap() {
    var addressArray = @Json.Serialize(Model.PickupAddresses);
    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 15,
        center: { lat: -34.397, lng: 150.644 }
    });
    const geocoder = new google.maps.Geocoder();
    for (var i = 0; i < addressArray.length; i++)
    {
        var address = addressArray[i];
        geocoder.geocode({'address': address}, function (results, status)
        {
                if (status === 'OK')
                {
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    center: {
                        lat: 12.7826,
                        lng: 105.0282
                    },
                });
                    var latLng = marker.getPosition();
                    map.setCenter(latLng);
            }
            else
            {
                alert('Geocode was not successful for the following reason: ' + status);
            }

        });
    }
    document.getElementById("submit").addEventListener("click", () => {
        geocodeAddress(geocoder, map);
    });
}

function geocodeAddress(geocoder, resultsMap) {
    const address = document.getElementById("address").value;
    geocoder.geocode({ address: address }, (results, status) => {
        if (status === "OK") {
            resultsMap.setCenter(results[0].geometry.location);
            new google.maps.Marker({
                map: resultsMap,
                position: results[0].geometry.location
            });
        } else {
            alert("Geocode was not successful for the following reason: " + status);
        }
    });
}
</script>


<style type="text/css">
    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
    #map {
        height: 100%;
        width: auto;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
    }
</style>


<h1>Employee Menu</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <h5>Pickups for Today @DateTime.Today.ToString("D")</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Customer customer in Model.Pickups)
                            {
                                if (customer.PendingOneTimePickup == true && customer.OneTimePickup == DateTime.Today)
                                {
                                    <tr>
                                        <td>@customer.Name</td>
                                        <td>@customer.Address</td>
                                        <td>
                                            <a asp-action="CompleteOneTime" asp-route-idCust="@customer.Id" asp-route-idEmp="@Model.Employee.Id">Complete One-Time Pickup</a>
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td>@customer.Name</td>
                                    <td>@customer.Address</td>
                                    <td>
                                        <a asp-action="Complete" asp-route-idCust="@customer.Id" asp-route-idEmp="@Model.Employee.Id">Complete Pickup</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <h5>Customer Information</h5>
                </div>
                <div class="card-body" onload="initMap()">
                    <body onload="initialize()">
                        <div id="map" style="width: auto; height: 500px;"></div>
                        <div>
                        </div>
                    </body>
                </div>
            </div>
        </div>
    </div>
    <div class=" row">

    </div>
</div>
