@model TrashCollection.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<style>
    #map {
        height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <h5>Customer Information</h5>
                </div>
                <div class="card-body">
                    <dl class="col-lg-auto">
                        <dt class="col-sm-10">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-10">
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt class="col-sm-10">
                            @Html.DisplayNameFor(model => model.City)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.City)
                        </dd>
                        <dt class="col-sm-10">
                            @Html.DisplayNameFor(model => model.State)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.State)
                        </dd>
                        <dt class="col-sm-10">
                            @Html.DisplayNameFor(model => model.ZipCode)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ZipCode)
                        </dd>
                        <dt class="col-sm-10">
                            @Html.DisplayNameFor(model => model.PickupDay)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PickupDay)
                        </dd>
                        <dd class="col-sm-10">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editDetails">Edit Information</button>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <h5>Actions</h5>
                </div>
                <div class="card-body">
                    <div class="alert alert-secondary">
                        Current balance is @Model.MonthBalance
                    </div>
                    <div class="my-3">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#payBalance">Pay Balance</button>
                    </div>
                    @if (Model.ServiceSuspended == true)
                    {
                        <div class="alert alert-danger">
                            Service is suspended until @Model.SuspendEnd.Value.ToString("D")!
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-success">
                            Next pickup day is @DateTime.Today.AddDays(((int)Model.PickupDay - (int)DateTime.Today.DayOfWeek + 7) % 7).ToString("D")
                        </div>
                    }

                    <div class="my-3">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#suspendService">Suspend Service</button>
                    </div>
                    @if (Model.PendingOneTimePickup == true)
                    {
                        <div class="my-3 alert alert-warning">
                            One time pickup scheduled for @Model.OneTimePickup.Value.ToString("D")
                        </div>
                    }
                    <div class="my-3">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#oneTimePickup">One Time Pickup</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="EditCustomerDetails">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Address" class="control-label"></label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="City" class="control-label"></label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="State" class="control-label"></label>
                                <input asp-for="State" class="form-control" />
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ZipCode" class="control-label"></label>
                                <input asp-for="ZipCode" class="form-control" />
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PickupDay" class="control-label"></label>
                                <select asp-for="PickupDay" class="form-control">
                                    <option value="Sunday">Sunday</option>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                </select>
                                <span asp-validation-for="PickupDay" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="suspendService" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="EditSuspension">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="SuspendStart" class="control-label"></label>
                                <input asp-for="SuspendStart" class="form-control" />
                                <span asp-validation-for="SuspendStart" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SuspendEnd" class="control-label"></label>
                                <input asp-for="SuspendEnd" class="form-control" />
                                <span asp-validation-for="SuspendEnd" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                        <form asp-action="ClearSuspension">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Clear Suspension" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="oneTimePickup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="EditOneTimePickup">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="OneTimePickup" class="control-label"></label>
                                <input asp-for="OneTimePickup" class="form-control" />
                                <span asp-validation-for="OneTimePickup" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


